nav {
	width: 100%;
	margin: 1.5em;
	font-size: 18px;
	word-spacing: 2ch;
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.nav-selected {
	color: $text-secondary;
	text-decoration: underline;
}
