:root {
    --background-primary: rgb(37, 33, 53);
    --background-secondary: rgb(77, 71, 104);
    --foreground-primary: rgb(101, 60, 114);
    --text-primary: #fff;
    --text-secondary: #ddd;
    --border-primary: solid var(--foreground-primary) 2px;
    --border-radius: 8px;
}

* {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 50%;
    margin: auto;
}

main {
    box-sizing: border-box;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 128px;
    margin: 0 0 5px 0;
}

h2 {
    margin: 0px;
    font-size: 64px;
}

h3 {
    font-size: 32px;
    margin-bottom: 0;
}

h2,
h3 {
    color: var(--text-secondary);
}

.heading {
    margin-top: 100px;
}

.title>h1,
.title>h2 {
    display: inline-block;
    margin-right: 16px;
}

.underlined {
    border-bottom: var(--border-primary);
}

.socials {
    display: flex;
    justify-content: space-between;
    max-width: 50em;
    margin: 80px auto;
}

.socials a {
    display: flex;
    width: 7em;
    align-items: center;
    justify-content: center;
    border: var(--border-primary);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.socials a:hover {
    background-color: var(--foreground-primary);
}

.socials a+a {
    margin-left: 20px;
}

.socials span {
    color: var(--text-secondary);
    background: transparent;
}

.socials a>img {
    height: 1em;
    width: 1em;
    margin-right: 10px;
    background: transparent;
}

#linkedin {
    width: 1.2em;
    margin-right: calc(10px - 0.2em);
}

@media screen {
    @media (min-width: 1220px) {
        .float-left {
            max-width: 700px;
            background-color: var(--background-secondary);
            border-radius: var(--border-radius);
            margin: 80px 0;
            padding: 10px 20px;
        }
        .float-left p {
            background: transparent;
            color: var(--text-primary);
            font-size: 20px;
        }
    }
    @media (max-width: 1220px) {
        body {
            width: 70%;
        }
        .title>h1 {
            font-size: 100px;
        }
        .socials {
            margin: 40px auto;
        }
        .socials span {
            font-size: 20px;
        }
    }
    @media (max-width: 700px) {
        body {
            width: 80%;
        }
        .title>h1 {
            font-size: 64px;
        }
        .title>h2 {
            font-size: 48px;
        }
        .socials span {
            display: none;
        }
        .socials a>img {
            margin: 0;
        }
        #linkedin {
            margin-left: 5px;
        }
    }
}